# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****
